////////слайдер//////////

/* Ограничивающая оболочка */
// @media (min-width: 993px) {
//   .slider-fon {
//     display: none;
//   }
// }

.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

.slider .slick-arrow {
  // display: none;
  position: relative;
  // top: 50%;
  z-index: 10;
  font-size: 0;
  width: 12px;
  height: 22px;
}

.slider .slick-arrow.slick-prev {
  // left: 20%;
  // background: url(/img/Layerl.png) 10% 0 no-repeat;
  background: url(/img/Feather-core-eye.svg) center no-repeat;
  background-color: #8b4513;
  background-size: cover;
  width: 100%;
  height: 63px;
  border-radius: 60%;

  // opacity: 0;
}
.slider .slick-arrow.slick-next {
  // left: 80%;
  // background: url(/img/Layerr.png) 90% 0 no-repeat;
  background: url(/img/Feather-core-eye.svg) center no-repeat;
  background-size: cover;
  // width: 25px;
  width: 100%;
  height: 63px;
  background-color: #8b4513;
  border-radius: 60%;

  // opacity: 0;
}

.slider .slick-dots {
  display: none;
}

.slider .slick-dots button {
  display: none;
}

.slider {
  display: flex;
  background-color: #a9a9a9;
  border: 4px solid #8b4513;
  align-items: center;
}
.slider-item {
}
.slider-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.wrapper {
}

.slider-img {
  display: flex;

  // justify-content: space-evenly;
}

.slider-img img {
  display: block;
  max-width: 300px;
  max-height: 500px;
  margin: 0 auto;
  cursor: pointer;
}

.img-after {
  padding-right: 5px;

  &:hover + .img-before {
    opacity: 1;
  }
}
.img-before {
  opacity: 0.4;
  &:hover {
    opacity: 1;
  }
}

// .slider-content {
//   margin: 0 auto;
//   padding: 0 10px 0 10px;
// }

// .content-img img {
//   display: block;
//   max-width: 100%;
//   margin: 0 auto;
// }

// .slider-title {
//   font-size: calc(3vmax + 5px);
//   padding-top: 20px;
//   padding-bottom: 20px;
// }
// .slider-text {
//   font-size: 16px;
//   & p:last-child {
//     padding-top: 20px;
//     padding-bottom: 20px;
//   }
// }
// .slider-button button {
//   background: url(/img/Shape_2.png) 12px 12px no-repeat;
//   padding: 0px 11px 0px 45px;
//   background-color: #5094f2;
//   color: #fff;
//   margin-top: 34px;
//   font-size: 22px;
//   line-height: 44.42px;
//   @media (max-width: 767px) {
//     margin-bottom: 31px;
//   }
//   &:hover {
//     background-color: #ebbb11;
//     transition: top 1s ease-out 0.5s;
//   }
// }
