// font-family: 'Pacifico', cursive;
// font-family: 'Dancing Script', cursive;

body {
  background-color: #2f4f4f;
}

a {
  color: black;
}

.content {
  margin-top: 30px;
  max-width: 1200px;
  margin: 0px auto;
  height: 1500px;
  border: 8px solid #8b4513;
  background: -moz-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
}

////////////////////////////////////////
@import "_header";
@import "_slider";
/////////////////////////////////////

.main {
  margin-top: 40px;
}

.main-tab {
  max-width: 800px;
  margin: 20px auto 0;
}
.tab-nav {
  background-color: #a9a9a9;
  margin: 0px auto;
  display: flex;
  text-align: center;
  border: 2px solid black;
  cursor: pointer;
}

.tabnav {
  flex: 33%;
  border-right: 2px solid black;
  position: relative;
  &:last-child {
    border-right: none;
  }

  & a {
    padding: 20px 10px;
    display: block;
    font-family: "Dancing Script", cursive;
    font-size: 20px;
    border-radius: 30px;
  }
}

.tab-block {
  color: #a9a9a9;
}
.tabblock {
  margin-top: 5px;
  font-size: 20px;
  line-height: 1.2;
  padding: 20px;
  display: none;
  &:target {
    display: block;
    border: 4px solid #8b4513;
  }
}
.activetab {
  background-color: #696969;
  color: #fff;
}
