// font-family: 'Pacifico', cursive;
// font-family: 'Dancing Script', cursive;

body {
  background-color: #2f4f4f;
}

a {
  color: black;
}

.content {
  margin-top: 30px;
  max-width: 1200px;
  margin: 0px auto;
  // height: 1500px;
  border: 8px solid #8b4513;
  background: -moz-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
}

.window {
  width: 100%;
  order: 1;
}
////////////////////////////////////////
@import "_header";
@import "_slider";
@import "_main";
@import "_adaptiv";
/////////////////////////////////////

footer {
  display: flex;
  margin-top: 40px;
  margin-bottom: 5px;
  padding: 0 20px;
  justify-content: space-around;
  align-items: center;
}

.contact-icon {
  & a img {
    max-width: 25px;
    display: block;
  }
}
.contact-text {
  font-size: 15px;
  color: #a9a9a9;
}

.main-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgb(174, 188, 191);
  background: -moz-linear-gradient(
    top,
    rgba(174, 188, 191, 1) 18%,
    rgba(110, 119, 116, 1) 44%,
    rgba(10, 14, 10, 1) 81%,
    rgba(10, 8, 9, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(174, 188, 191, 1) 18%,
    rgba(110, 119, 116, 1) 44%,
    rgba(10, 14, 10, 1) 81%,
    rgba(10, 8, 9, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(174, 188, 191, 1) 18%,
    rgba(110, 119, 116, 1) 44%,
    rgba(10, 14, 10, 1) 81%,
    rgba(10, 8, 9, 1) 100%
  );
}
.modal-content {
  margin: 0px auto;
  position: relative;
  border: 5px solid #8b4513;
}
.modal-wrap {
}
.modal-close {
  width: 40px;
  position: absolute;
  right: 0;
}
