// font-family: 'Pacifico', cursive;
// font-family: 'Dancing Script', cursive;

body {
  background-color: #2f4f4f;
}

.content {
  margin-top: 30px;
  max-width: 1200px;
  margin: 0px auto;
  height: 1500px;
  border: 8px solid #8b4513;
  background: -moz-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
}

////////////////////////////////////////
@import "_header";
@import "_slider";
/////////////////////////////////////

.main {
  margin-top: 40px;
}

.main-tab {
}
.tab {
}
.nav {
}
.nav1 {
}
.tab-block {
}
.tab-block1 {
}
.tab-block2 {
}
.tab-block3 {
}
